@font-face {
  font-family: "lit-text";
  src: url("./assets/LitteraturTextTrialSN-Regular.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --padding: 32px;
  --spacing-medium: 32px;
  --font-size-quote: 32px;
  --font-size-base: 14px;
  --font-color: #fdfdf4;
  --color-base: #fdfdf4;
  --color-highlight: #EEE8DC;
  --color-pressed: #E6815B;
}

@media (max-width: 768px) {
  :root {
    --padding: 24px;
    --spacing-medium: 16px;
  }
  .newsletter-signup {
    left: var(--padding);
    right: var(--padding);
    width: 100%;
  }
}

@media (max-width: 550px) {
  :root {
    --padding: 24px;
    --font-size-quote: 24px;
    --font-size-base: 12px;
    --spacing-medium: 16px;
  }
  .newsletter-signup {
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background:
  linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
  url("./assets/bg-img3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  color: var(--font-color);
  font-family: "lit-text";
}

.content-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  padding: var(--padding);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  animation: fadeIn 250ms ease-out;
}

.quote-container {
  font-size: var(--font-size-quote);
  text-wrap: balance;
  text-align: center;
  max-width: 65ch;
}

.newsletter-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-medium);
}

.email-signup {
  background-color: var(--color-base);
  padding: 6px;
  transition: background-color 200ms;
  box-sizing: border-box;
  width: 600px;
  max-width: 100%;
}




#email-form {
  display: flex;
  gap: 8px;
}

input {
  font-family: "lit-text";
  font-size: var(--font-size-base);
  padding: 6px;
  background-color: transparent;
  border: none;
  flex-grow: 1;
}

input:focus {
  outline: none;
}

button {
  font-family: "lit-text";
  font-size: var(--font-size-base);
  padding: 6px;
  border: none;
  letter-spacing: 0.1em;
  background-color: transparent;
  transition: all 200ms;
}

button:hover {
  background-color: var(--color-pressed);
  color: var(--color-base);
}

.quote-container img {
  width: 100%;
}

.signup-notice {
  text-align: center;
  max-width: 40ch;
  line-height: 120%;
  text-wrap: balance;
  font-size: var(--font-size-base);
}

.icon-container {
  text-align: center;
}


.icon-container img {
  width: 15rem;
}
